body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
}

.app {
  padding: 1rem;
}

button {
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.8rem 1.2rem;
}

.remote {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 300px;
  margin: auto;
}

.remote button {
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  background: #222;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.remote button:active {
  background: #444;
}
